
@using CvApp.Core.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model CvItemViewModel

<div>
	@Html.HiddenFor(m => m.LanguageKnowledge[Model.LanguageKnowledge.Count -1].Id)
	<div class="mb-3">
		@Html.LabelFor(m => m.LanguageKnowledge[Model.LanguageKnowledge.Count -1].Language)
		@Html.TextBoxFor(m => m.LanguageKnowledge[Model.LanguageKnowledge.Count -1].Language)
	</div>

	<div class="mb-3">
		@Html.LabelFor(m => m.LanguageKnowledge, "Language level")
		<select asp-for="@Model.LanguageKnowledge[Model.LanguageKnowledge.Count -1].LanguageLevel" asp-items="Html.GetEnumSelectList<KnowledgeLevel>()">
			<option value="">Please select</option>
		</select>
		<button type="button" id="@Model.LanguageKnowledge[Model.LanguageKnowledge.Count -1].Id" class="btn btn-danger delete-language">Remove</button>
	</div>
</div>
