@using LatvijasPasts.Core.Enums;
@model CvItemViewModel

@{
    ViewBag.Title = $"Edit{Model.Name} CV";
    Layout = "_Layout";
}
<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Home", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)
    <div>
        @Html.LabelFor(m => m.Name, "Name")
        @Html.TextBoxFor(m => m.Name, new {@class = "form-control" })
    </div>
    <div>
        @Html.LabelFor(m => m.LastName, "Lastname")
        @Html.TextBoxFor(m => m.LastName, new {@class = "form-control" })
    </div>
    <div>
        @Html.LabelFor(m => m.OtherName, "Other name")
        @Html.TextBoxFor(m => m.OtherName, new {@class = "form-control" })
    </div>
    <div class="mb-3">
        @Html.LabelFor(m => m.Email, "E-mail")
        @Html.TextBoxFor(m => m.Email, new {@class = "form-control" })
    </div>
    <div class="mb-3">
        @Html.LabelFor(m => m.PhoneNumber, "Phone number")
        @Html.TextBoxFor(m => m.PhoneNumber, new {@class = "form-control" })
    </div>
    //@foreach (var language in Model.LanguageKnowledge)
    <div id="language_section_@Model.LanguageKnowledge.Count">
    @for (var i = 0; i < Model.LanguageKnowledge.Count; i++ )
    {
        <div class="mb-3">
            @Html.LabelFor(m => m.LanguageKnowledge[i].Language, "Language")
            @Html.TextBoxFor(m => m.LanguageKnowledge[i].Language, new {@class = "form-control" })
        </div>
        <div class="mb-3">
            @Html.LabelFor(m => m.LanguageKnowledge, "Language Level")
            <select asp-for="@Model.LanguageKnowledge[i].LanguageLevel" asp-items="Html.GetEnumSelectList<KnowledgeLevel>()">
                <option value="">Please select</option>
            </select>
        </div>
    }
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
}

@section Scripts
{
    <script>
        $(document).ready(function(){
            const div = $('#language_section_' + @Model.LanguageKnowledge.Count)
            //console.log(@Model.LanguageKnowledge.Count)
            
            console.log(div);
        })
    </script>
}

